*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --bgc: #ffffff;
    --text-color: #4d5ae5;
    --dark-color: #2e2f42;
    --dark-blue-item: #434455;
    --color-light: #f4f4fd;
    --bottom-color: #e7e9fc;
    --darkest-blue: #8e8f99;
    --kind-of-blue: #404bbf;

    --items: 1;
    --indent: 32px;
}

/* Base styles */
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--bgc);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

input {
    font-family: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.link {
    text-decoration: none;
    color: inherit;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Phone screen */
.container {
    min-width: 320px;
    max-width: 428px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
}

/* Tablet screen */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1157.98px) {
    .tablet-container {
        max-width: 584px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }
}

/* Desktop screen */

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

@media only screen and (max-width: 767.98px) {
    .header {
        padding: 24px 0;
    }
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media only screen and (min-width: 1158px) {
    .header-container {
        padding: 24px 0;

    }
}

/* Nav */
.nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

@media only screen and (max-width: 767.98px) {
    .nav-list {
        display: none;
    }
}

.logo {
    /* margin-right: 76px; */
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text-color);
}

@media only screen and (min-width: 768px) {
    .logo {
        margin-right: 120px;
    }
}

@media only screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }
}

.span-logo {
    color: var(--dark-color);
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.nav-item:hover,
.nav-item:focus {
    color: #404bbf;
}

@media screen and (max-width: 767.98px) {
    .address {
        display: none;
    }
}

.address-block {
    font-style: normal;
}

.address-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

@media only screen and (max-width: 767.98px) {
    .address-list {
        display: none;
    }
}

@media screen and (min-width: 1158px) {
    .address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }
}

.address-item {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

@media screen and (min-width: 1158px) {
    .address-item {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        letter-spacing: 0.32px;
    }
}

.menu-burger {
    min-height: 22px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

@media only screen and (min-width: 768px) {
    .menu-burger {
        display: none;
    }
}

.mobile-menu-icon {
    stroke: #2e2f42;
}

.address-item:hover,
.address-item:focus {
    color: #404bbf;
}

/* Hero section */
.hero {
    max-width: 428px;
    padding: 112px 0;
    margin: 0 auto;
    text-align: center;
    background-color: var(--dark-color);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
        url(../images/hero/Dark-bg_mob@1x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/Dark-bg_mob@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/Dark-bg_tabl@1x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/Dark-bg_tabl@1x.jpg);
    }
}

@media screen (min-width: 768px) and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/Dark-bg_tabl@2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero {
        max-width: 1158px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office\ 1_desk@1x.jpg);
    }
}

@media screen and (min-width: 1158px) and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
    .hero {
        max-width: 1158px;
        padding: 188px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/hero/people-office\ 1_desk@2x.jpg);
    }
}

.hero-title {
    max-width: 320px;
    margin: 0 auto 72px;
    color: var(--bgc);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.72px;
    letter-spacing: 0.02em;
}

.hero-button {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;
    border-radius: 4px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--bgc);
    background-color: var(--text-color);
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

/* Benefits section */

.benefits-section {
    padding: 96px 0;
    /* padding: 120px 0; */
}

@media screen and (min-width: 768px) {
    .benefits-section {}
}

@media screen and (min-width: 1158px) {
    .benefits-section {
        padding: 120px 0;
    }
}

/* .benefits-list-item {
    max-width: 356px;
    flex-basis: calc((100% - 72px) / 4);
} */

@media only screen and (min-width: 768px) {
    .benefits-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
    }
}

@media only screen and (min-width: 768px) {
    .benefits-list-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media only screen and (min-width: 1158px) {
    .benefits-list-item {
        flex-basis: calc((100% - 24px * 3) / 4);
    }
}

@media only screen and (max-width: 767.98px) {
    .benefits-list-item:not(:last-child) {
        margin-bottom: 72px;
    }
}

.benefits-icon {
    /* display: flex; */
    display: none;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

@media only screen and (min-width: 768px) {
    .benefits-icon {
        /* display: none; */
    }
}

@media only screen and (min-width: 1158px) {
    .benefits-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        padding: 24px 0;
        margin-bottom: 8px;
        border-radius: 4px;
        background-color: var(--color-light);
    }
}

@media only screen and (min-width: 1158px) {
    .benefit-list-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
}

.benefits-title-item {
    margin-bottom: 8px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

@media only screen and (min-width: 768px) {
    .benefits-title-item {
        text-align: left;
    }
}

@media only screen and (min-width: 1158px) {
    .benefits-title-item {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
    }
}

.benefits-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media only screen and (min-width: 1158px) {
    .benefits-desc {
        font-weight: 400;
    }
}

/* Workflow section */

.workflow-section {
    display: none;
    /* padding-bottom: 120px; */
}

@media only screen and (min-width: 1158px) {
    .workflow-section {
        display: block;
    }
}

.workflow-title {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-color);
}

.workflow-list-item {
    width: calc((100% - 3 * 16px) / 3);
}

.workflow-list {
    display: flex;
    gap: 24px;
}

/* Our team section */
.team-section {
    padding: 96px 0;
    background-color: #f4f4fd;
}

@media screen and (min-width: 1158px) {
    .team-section {
        padding: 120px 0;
    }
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
    max-width: 264px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .team-list {
        max-width: 552px;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        max-width: 1128px;
    }
}

.team-item {
    flex-basis: 100%;
    border-radius: 0px 0px 4px 4px;
    /* width: calc((100% - 72px) / 4); */
    background-color: #ffffff;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
        0px 1px 1px 0px rgba(46, 47, 66, 0.16),
        0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

@media screen and (min-width: 768px) {
    .team-item {
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .team-item {
        flex-basis: calc((100% - 24px * 3) / 4);
    }
}

.team-title {
    text-align: center;
    margin-bottom: 8px;
}

.team-desc {
    text-align: center;
    margin-bottom: 0.5rem;
}

.member-info {
    padding: 32px 0;
}

.social-icons-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.member-social-icon {
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-social-link {
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-social-link:hover,
.member-social-link:focus {
    background-color: #404bbf;
}

.theme-icon {
    fill: var(--color-light);
}

/* Customers section */

.customers-sections {
    padding: 96px 0;
    /* padding-bottom: 120px; */
}

@media screen and (min-width: 1158px) {
    .customers-sections {
        padding: 120px 0;
    }
}

.customers-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 72px 16px;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) {
    .customers-list {
        gap: 72px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .customers-list {
        max-width: 1128px;
    }
}

.customer-member {
    flex-basis: calc((100% - 16px) / 2);
    height: 88px;
}

.link-customer-member {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border-radius: 4px;
    border: 1px solid var(--darkest-blue);
    color: var(--darkest-blue);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
    .customer-member {
        flex-basis: calc((100% - 24px * 2) / 3);
    }
}

@media screen and (min-width: 1158px) {
    .customer-member {
        flex-basis: calc((100% - 24px * 5) / 6);
    }
}

.customer-icon {
    fill: currentColor;
}

.link-customer-member:hover,
.link-customer-member:focus {
    border-color: #404bbf;
    color: #404bbf;
}

/* Footer section */
.footer {
    padding: 96px 0;
    background-color: var(--dark-color);
}

.footer-container {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 72px 24px;
    }
}

@media screen and (max-width: 767.98px) {
    .footer-logo-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 1158px) {
    .footer-logo-content {
        margin-right: 120px;
    }
}

.footer-property {
    display: block;
    text-align: center;
    margin-bottom: 16px;
}

@media only screen and (min-width: 768px) {
    .footer-property {
        display: inline-block;
    }
}

.span-logo-footer {
    color: #f4f4fd;
}

.footer-desc {
    max-width: 264px;
    line-height: 1.5;
    color: var(--color-light);
    letter-spacing: 0.02em;
}

@media only screen and (max-width: 767.98px) {
    .media-container {
        margin: 0 auto;
    }
}

.social-media-text {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5rem;
    letter-spacing: 0.02rem;
    color: var(--bgc);
    margin-bottom: 16px;
}

@media only screen and (max-width: 767.98px) {
    .social-media-text {
        text-align: center;
    }
}

.logo-part {
    justify-content: center;
}

.social-media-list {
    display: flex;
    gap: 16px;
}

.social-media-list-icon {
    width: 40px;
    height: 40px;
}

.footer-icon-link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 100%;
    height: 100%;
    background-color: var(--text-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    background-color: #31d0aa;
}

.icon-fill {
    fill: var(--color-light);
}

.form-text-name {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    line-height: 1.5;
}

@media only screen and (max-width: 767.98px) {
    .form-text-name {
        text-align: center;
    }
}

.form-subscribe {
    display: flex;
    align-items: center;
    gap: 24px;
}

@media only screen and (max-width: 767.98px) {
    .form-subscribe {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }
}

.footer-form-label {
    width: 100%;
}

.email-input {
    width: 264px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: #ffffff;
}

@media only screen and (max-width: 767.98px) {
    .email-input {
        width: 100%;
    }
}

.email-input::placeholder {
    color: #ffffff;
}

.subscribe-button {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: var(--bgc);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.telegram-icon {
    margin-left: 16px;
    fill: #ffffff;
}

*/
/* Portfolio Main */

.main-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.portfolio-list {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;
}

.portfolio-list-item {
    border-radius: 4px;
    padding: 12px 24px;
    border: 1px solid var(--bottom-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--text-color);
    background-color: var(--color-light);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #404bbf;
    cursor: pointer;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Projects list */

.projects-list {
    row-gap: 48px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
}

.projects-list-item {
    width: calc((100% - 48px) / 3);
}

/* Our projects */

.projects-item-link {
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item-link:hover,
.projects-item-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.project-name {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-color);
}

.project-type {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-blue-item);
}

.project-item-box {
    position: relative;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-light);
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-item-link:hover .overlay,
.projects-item-link:focus .overlay {
    transform: translateY(0%);
}

/* Modal window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 408px;
    width: calc(100% - 36px);
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-color);
    margin-bottom: 16px;
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.modal-btn-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-order-container {
    margin-bottom: 8px;
}

.form-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--darkest-blue);
    display: block;
    margin-bottom: 4px;
}

.container-form-item {
    position: relative;
    margin-bottom: 16px;
}

.field-item {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-item:focus {
    border-color: #4d5ae5;
}

.form-icon {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.field-item:focus+.form-icon {
    fill: #4d5ae5;
}

.form-comment-section {
    margin-bottom: 16px;
}

.textarea-field {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field:focus {
    border-color: #4d5ae5;
}

.form-checkbox {
    margin-bottom: 24px;
}

input:checked+label>span {}

.agreement:checked+.privacy-label>.span-privacy {
    background-color: var(--kind-of-blue);
    border: none;
    fill: var(--color-light);
}

.privacy-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--darkest-blue);
}

.span-privacy {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.form-link {
    color: var(--text-color);
}

.checkbox-icon {}

.button-container {}

.form-submit-button {
    margin: 0 auto;
    display: block;
    min-width: 169px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
}

.menu-toggle-close {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid var(--bottom-color);
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle-close:hover,
.menu-toggle-close:focus {
    color: var(--bgc);
    background-color: var(--kind-of-blue);
    border: none;
}

.menu-close-icon {
    fill: var(--dark);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Mobile menu */
.menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: var(--dark-color);
    background-color: #e7e9fc;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.mobile-menu-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 428px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 80px 35px 40px 40px;
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bgc);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media only screen and (min-width: 768px) {
    .menu-container {
        display: none;
    }
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 24px;
    right: 24px;
}

.mobile-menu {
    margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu .link {
    display: block;
    color: var(--dark-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.mobile-menu-link:active {
    color: var(--kind-of-blue);
}

@media (hover: hover) {

    .mobile-menu-link:hover,
    .mobile-menu-link:focus {
        color: var(--kind-of-blue);
    }
}

.mobile-menu-social {
    display: flex;
    gap: 56px;
    align-items: center;
}

.mobile-contacts-list {
    margin-bottom: 48px;
}

.mobile-contacts-item:not(:last-child) {
    margin-bottom: 40px;
}

.mail-contacts {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mail-contacts:active {
    color: var(--kind-of-blue);
}

.tel-contacts {
    font-size: 25px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
}

.tel-contacts:active {
    color: var(--kind-of-blue);
}